*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://images.pexels.com/photos/1257860/pexels-photo-1257860.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    /* background-size: 100% 100%  ; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-position: center;
    position:relative */
    
}
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.wrap{
display: grid;
width: 100%;
height: 100vh;
margin-top: 2%;
grid-template-columns: 1fr;
grid-template-rows: 2fr 8fr 1fr;
grid-template-areas: 
"header "
"main "
"footer "
;

}

header{
    margin-left: 10%;
    margin-right: 10%;
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "logo nav"
    ;

}
footer{
    grid-area: footer;
    align-items: center;
    margin-left: 10%;
}
#logo{
    grid-area: logo;
    font-style: normal;
    font-weight: bolder;
    color: white;
    font-size: 200%;
    margin-left: 10%;
}
#nav{
    color: white;
    margin-left: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
    "text1 text2 text3 text4 text5"
    ;
}

#text1{
    grid-area: text1;
    margin-right: 5px;
}
#text2{
    grid-area: text2;    margin-right: 5px;
}
#text3{
    grid-area: text3; margin-right: 5px;
}
#text4{
    grid-area: text4; margin-right: 5px;
}
#text5{
    grid-area: text5; margin-right: 5px;
}




main{
    color: white;
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 2fr;
    grid-template-areas: 
    "daytext"
    "timer"
    "text6"
    "list"
    ;

}


#timer{
    text-align: center;
    grid-area: timer;
    font-size: 6vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#daytext{
    text-align: center;
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    grid-area: daytext;
}
#list{  
    grid-area: list;
    /* margin-left: 40%;
    margin-right: 40%; */
    /* margin: auto; */
   align-items: center;


}
#list2{
    /* style=" float:none; margin:0 auto */
float: none;

}
#text6{
    
    text-align: center;
    grid-area: text6;
    font-size: 2em;
    font-family: 'Do Hyeon', sans-serif;
}




footer{
    grid-area: footer;
}

@media (max-width: 576px) {
    .mb-3{
        width: 100%;
        
    }
    
   
}

@media (max-width: 768px) and (min-width: 576px) {
    .mb-3{
        width: 80%;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .mb-3{
        width: 60%;
    }
}
@media (max-width: 1080px) and (min-width: 992px) {
    .mb-3{
        width: 50%;
    }
}
@media (max-width: 1280px) and (min-width: 1080px) {
    .mb-3{
        width: 40%;
    }
}
@media (max-width: 1520px) and (min-width: 1280px) {
    .mb-3{
        width: 35%;
    }
}
@media (min-width: 1520px) {
    .mb-3{
        width: 30%;
    }
}

.mb-3{
    margin:0 auto;
}

a {
    color: white;
    text-decoration-line:none;
}